<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="FileAppender" />
  </root>

  <appender name="FileAppender" type="log4net.Appender.FileAppender">
    <file value="Logs\Gjesteparkering.log" />
    <appendToFile value="true" />
    <maximumFileSize value="100KB" />
    <maxSizeRollBackups value="2" />
    <encoding value="utf-8" />
    <lockingModel value="log4net.Appender.FileAppender+MinimalLock" />
    <!-- log4net.Appender.FileAppender+ExclusiveLock-->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd.MM.yy HH:mm:ss} %-5level %logger - %message%newline" />
    </layout>
  </appender>

</log4net>