<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <connectionStrings xdt:Transform="Replace">
    <add name="dbGjesteparkering" connectionString="Server=tcp:erqakp0uup.database.windows.net,1433;Database=Gjesteparkering;User ID=mamort@erqakp0uup;Password=Fireflyasmx12;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
  </connectionStrings>
</configuration>