<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gjesteparkering</title>
</head>
<body>
    @RenderBody()
    <script src="build/vendor.bundle.js"></script>
    <script src="build/app.js"></script>
</body>
</html>
